* {
    box-sizing: border-box;
}
/*Ignore the border when calculating the width. The asterisk mean select all*/

header, footer {
    height: 80px;
    border: 3px solid black;
    clear: both;
    /* clear: both; tells the footer to ingnore the stuff that are floating */
    background: rgb(218, 109, 109);
}

.top {
    height: 200px;
    width: 33.3333%;
    border: 3px solid black;
    float: left;
    background-color: rgb(21, 138, 21);
}

.btm {
    height: 200px;
    width: 50%;
    border: 3px solid black;
    float: left;
    background-color: yellowgreen;
}

@media (max-width: 800px) {
    header, .top, .btm, footer {
        background-color: yellow;
    }
}